<table data-v-69bc2eb0="" border="1">
  <tr data-v-69bc2eb0="">
    <th data-v-69bc2eb0="" colspan="1" rowspan="3">日期</th>
    <th data-v-69bc2eb0="" colspan="5" rowspan="1">配送信息</th>
  </tr>
  <tr data-v-69bc2eb0="">
    <th data-v-69bc2eb0="" colspan="1" rowspan="2">姓名</th>
    <th data-v-69bc2eb0="" colspan="4" rowspan="1">地址</th>
  </tr>
  <tr data-v-69bc2eb0="">
    <th data-v-69bc2eb0="" colspan="1" rowspan="1">省份</th>
    <th data-v-69bc2eb0="" colspan="1" rowspan="1">市区</th>
    <th data-v-69bc2eb0="" colspan="1" rowspan="1">地址</th>
    <th data-v-69bc2eb0="" colspan="1" rowspan="1">邮编</th>
  </tr>
</table>
